/*Author: Nam Phan*/

displayImg {
    display: flex;
    justify-content: center;
    margin: 50px;
}

displayName {
    display: flex;
    justify-content: center;
    margin: 20px;
}

table{
    display: table;
    border:1px solid black;
}

th, td {
    text-align: left;
    padding: 10px;
    border:1px solid black;
}