/*Author: Nam Phan*/

/*custom properties to custom tag: displayImage*/
/* displayImg is a css selector, in this case, selecting a tags named "displayImg" */
displayImg {
    /* These are css declarations, key-value pairs*/
    display: flex;
    justify-content: center;
    margin: 50px;
}

/*custom properties to custom tag: displayName*/
displayName {
    display: flex;
    justify-content: center;
    margin: 20px;
}

table{
    display: table;
    border:1px solid black;
}

th, td {
    text-align: left;
    padding: 10px;
    border:1px solid black;
}